#enableTable{
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px 0;
}

td, th {
    text-align: center;
    vertical-align: middle;
}


.tableNoEscobar{
    background-color: #FAC898;
    color: #2F4858;
    margin: 1rem;
}


input{
    background-color: #FAC898;
    color: #2F4858;
    border-radius: 10px;
}