body{
    background-color: #2F4858;
    color: #FAC898;
    font-size: large;
}

button{
    background-color: #FAC898;
    color: #2F4858;
    font-size: xx-large;
    border: none;
}
#lan{
    background-color: #2F4858;
    border: none;
    box-shadow: none;
    display: block;
    height: 90%;
    font-size: xx-large;
    color: #FAC898;
}
#lan:hover{
    border-color: #FAC898;
    height: 100%;
}

button:hover{
    background-color: #2F4858;
    color: #FAC898;
}

i{
    color: #FAC898;
}

.card-body{
    background-color: #FAC898;
    color: #2F4858;
    font-size: large;
}
.card{
    background-color: #FAC898;
    color: #2F4858;
    font-size: large;
    border: none;
    box-shadow: none;
    height: 150px;
}
.darkIcon{
    color: #2F4858;

}